In [16]:
import pandas as pd
df=pd.read_csv(r"Agilisium.csv",names=['Company Name','Street','City','State','Pincode'],index_col=0)
df

,Street,City,State,Pincode
Company Name,,,,
Agilisium Consulting LLC,2629 Townsgate Rd Suite 235,Westlake Village,CA,91361
Agilisium Consulting India Private Limited,5/142 Rajiv Gandhi Salai Perungudi,Chennai,TN,600096

In [18]:
data={
    'Company Name':['agilisium consulting LLC','Agilisium Consulting India Private Limited'],
    'StreetName':['2629 Townsgate Rd Suite 235','5/142 Rajiv Gandhi Salai Perungudi'] ,
    'City':['Westlake Village','Chennai'],
    'State':['CA','TN'],
    'Pincode':[91361,600096]
}
df=pd.DataFrame(data)
df

,Company Name,StreetName,City,State,Pincode
0,agilisium consulting LLC,2629 Townsgate Rd Suite 235,Westlake Village,CA,91361
1,Agilisium Consulting India Private Limited,5/142 Rajiv Gandhi Salai Perungudi,Chennai,TN,600096